{
  "env": {
    "test": {
      "presets": [
        "babel-preset-power-assert"
      ],
      "plugins": [
        ["istanbul"]
      ]
    }
  },
  "presets": [
    "es2015"
  ],
  "plugins": [
    ["babel-plugin-root-import", {
      "rootPathSuffix": "lib/"
    }],
    "add-module-exports"
  ]
}